 body {
      font-family: Arial, sans-serif;
      background: #f7f7f7;
      color: #333;
      padding: 20px;
      position: absolute;
    }

    header {
      text-align: center;
      display: block;
    }

    .profile-box {
       position: relative;
    }

    .profile-box p {
        margin-left: 15px;
        margin-top: 10px;
    }

    .profile-box img {
        width: 173px;
        height: 186px;
        margin-left: 22px;
        margin-bottom: 25px;
        border-radius: 95px;
        border: 1px solid #333;
        box-shadow: 0 0 30px gray;
        float: left;
    }

    section {
      max-width: 800px;
      margin: 0 auto;
      
      background: white;
      padding: 20px;
      border-radius: 10px;
    }

    .content-box {
        margin-top: 0px;
        margin-left: 20px;
    }

    .content-title {
        margin-top: 85px;
    }

    h1, h2 {
      color: #005b96;
    }